<img src="<%= @song.album_cover %>"  class="img-circle" border="0" height="100" width="100" alt="<%= @song.name %>">
<h4 id='band_song_name'><%= @song.band_and_song_name_formatted %></h4>
<small>
  Play Count: <%= @song.play_count %> /
  Last Played: <%= time_ago_in_words_with_blank(@song.last_played, "Not yet played.") %>
</small>
