
<table id="songs_table" class="table table-striped songs span9 center">
  <thead>
    <tr>
      <th></th>
      <th>Song Name</th>
      <th>Band / Artist</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><img src='<%= song.album_cover %>' height='50' width='50' class='img-circle'></td>
        <td><%= song.name %></td>
        <td><%= song.band %></td>
        <td>
          <%= link_to 'View Song', song, :class => "btn btn-info" %>
          <button class="btn btn-primary add_to_queue_button" id="<%= song.id %>">Queue Song</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$("#songs_table").addTableFilter({
  labelText: "Search Songs"
});

$("document").ready(function() {
  var songs_in_queue = <%= Song.all_in_queue.map(&:id) %>
  var current_song = <%= Song.current_song.blank? ? 0 : Song.current_song.id %>
  songs_in_queue.push(current_song)

  for(var i = 0; i < songs_in_queue.length; i++) {
    var song_queue_button = $("#" + songs_in_queue[i])
    song_queue_button.removeClass("add_to_queue_button").text("In Queue")
  }
});
</script>
