<%= link_to "Rubequ", root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
  <%= render :partial => "layouts/volume" %>
  <ul class="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Upload Song', '#uploadModal', :role => "button", :id => 'upload', :"data-toggle" => "modal" %></li>
    <li><%= link_to 'View All Songs', songs_path %></li>
  </ul>
</div>
